*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}

body {
    background: linear-gradient(rgb(31, 31, 31),#000000fd);
    color: rgb(0, 0, 0);
}
/* Style for form container */
.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
  }
  
  /* Style for form fields */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

.rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    background: linear-gradient(to right, #f00, #ff0, #0f0);
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    border-right: 1px solid #000;
}

.rating input[type="radio"]:hover~label,
input[type="radio"]:checked~label {
    background: transparent;
}

#submit-feedback {
    font-size: medium;
    width: 140px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background: #dc3545;
    font-weight:bold;
    color: #fff;
    cursor: pointer;
}