@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

/* /hover add/ */
.svg_sections {
    font-family: poppins;
    font-size: 1.5em;
}

/* /hover add frame/ */
.svg_rect {
    fill: url(#rectangle_color);
    stroke-width: 0.278vw;
}

.svg_lines {
    stroke: rgb(255,255,255);
    stroke-width: 0.278vw;
}

.sitemap {
    /* fill: linear-gradient(white);SItemap */
    fill: rgb(255, 0, 195);
    font-size: 2.0em;
    font-family: poppins;
}

body {
    background-image: url("images/band-tenside.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    stroke: rgb(255, 0, 0);
    text-align: center;
    font-family: poppins;
}


svg g rect {
    stroke: rgb(244, 244, 244);
    stroke-width: 2px;    
}
svg g text {
    fill: rgb(255, 255, 255);
    font-weight: 540;
}   
svg g a:hover rect{    
    stroke: #FFFF00;
    transition: 0.5s ease;
}
svg g a:hover text {    
    fill: #ffffff;
    transition: 0.5s ease;
}