* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    min-height: 100vh;
    background-image: url(images/mic.jpg);
    filter: brightness(0.60);
    background-size: cover;
    padding-right: 0%; 
}

.row {
    display: block;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    padding-left: 50px;
    padding-top: 50px;
    color: darkgoldenrod;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    padding-top: 40px;
    padding-left: 70px;
    color: white;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 950px;
    line-height: 25px;
}

p {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.card {
    width: 300px;
    height: 360px;
    display: inline-block;
    border-radius: 10px;
    padding: 18px 25px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 100px 70px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}


.card:hover {
    transform: translateY(-10px);
}

h4 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px;
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 12px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 90%;
    border-radius: 20px;

}
.rating img{
    width: 13px;

}
.title{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 30px;
    color: #555;
    font-size: 20px;
}

h4{
    color: #a2ff00;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5%);
}








































































